@model SearchJob.Dtos.Account.LoginDto
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Вход</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <form asp-controller="Account" asp-action="login" method="post">
            <div class="mb-3">
                <label for="Username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="Username" name="Username" asp-for="Username" placeholder="Введите имя пользователя" required>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" placeholder="Введите пароль" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary">Войти</button>
                
                <span>
                    Еще не зарегистрирован? <a href="/api/account/register">Зарегистрироваться</a>
                </span>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>